h1 {
  margin: auto;
  text-align: center;
  padding: 25px 10px;

}

.row div {
	min-height: 1000px;
	background-color: lightgray;
	border: 2px solid black;
}

.blog div {
  min-height: 200px;
  background-color: white;
  border: 1px solid salmon;
}
